build
imgui.ini
venv
roms

# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/

# conan2
.conan2/**

CMakeUserPresets.json

!.conan2/settings.yml
!.conan2/profiles/*